.booked-content{
    width: 80%;
    margin:100px ;
    border: 3px solid grey;
    padding: 20px;
    border-radius: 5px;

}
.booked-content-inner{
    display: flex;

}
.booked-flight-content{
    width:33%;
    border-right:1px solid grey;
}
.booked-flight-content td{
    padding: 10px;
    font-weight: 500 ;
}
.header h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(52,80,118);
    margin-bottom: 10px;
}
.header{
    border-bottom: 1px solid grey;
}